*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  margin: 133px 30px;
  gap: 30px;
}

.search-form {
  display: flex;
  gap: 40px;
}

.content__list {
  position: relative;
  max-height: 298px;
  overflow-y: scroll;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  color: white;
  padding: 2px 0 4px 2px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.title {
  align-self: flex-start;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  max-height: 210px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
} 

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield {
  min-width: 225px;
  appearance: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFFB2;

}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;

}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
  max-height: 34px;
  padding: 6px 0;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  width: 99%;
  margin-left: 2px;
  margin-bottom: 2px;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.search-form__textfield:active {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.search-form__textfield:hover {
  cursor: text; 
}

.search-form__label:not(:active):has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset:1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: white;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline solid white;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

button:hover {
  text-decoration: underline solid white;
  text-underline-offset: 2px;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.more-button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline solid white;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset:1px;
}